<html>

<head>
    <p> Welcome to LearnLink! </p>
    <ul>
        <li> <a href="/users/signup"> Sign Up</a> </li>
        <li> <a href="/users/signin">Sign In</a> </li>
        <li> <a href="/">Home</a> </li>
    </ul>
    <img src="html-heroes-high-resolution-logo-black.png" alt="HTML Heroes" width="500" height="500">
</head>

<body>
    <% if (title === "Signin") { %>
    <a href="/users/signin">Sign In</a>
    <% } %>

    <% if (title === "Signup") { %>
    <a href="/users/signup">Sign In</a>
    <% } %>

    <% if (title === "Home") { %>
    <a href="/">Home</a>
    <% } %>
</body>

</html>

<!-- Implement these things: Picture and way to show all things from database-->