<html>

<head>
    <ul>
        <li> <a href="/users/signup"> Sign Up</a> </li>
        <li> <a href="/users/signin">Sign In</a> </li>
        <li> <a href="/">Home</a> </li>
    </ul>
</head>

<body>
    <input type="text" name="Username">
    <input type="text" name="Password">
    <button type="submit"> </button>
</body>

</html>

<!-- Implement these things: Picture and way to show all things from database-->