<html>
    
<head>
    <ul>
        <p> Sign In</p>
        <li> <a href="/users/signup"> Sign Up</a> </li>
        <li> <a href="/users/signin">Sign In</a> </li>
        <li> <a href="/">Home</a> </li>
    </ul>
</head>

<body>
    <input type="text" name="Username">
    <input type="text" name="Password">
    <button type="submit"> Sign In</button>
</body>
<link rel="stylesheet" href="styles.css">
</html>

<!-- Implement these things: Picture and way to show all things from database-->