p {
    background-color: darkgray;
    color: gray;
}

body {
    background-color: darkgray;
    color: antiquewhite;
}

head {
    background-color: darkgray;
    color: antiquewhite;
}

ul {
    background-color: darkgray;
    color: antiquewhite;
}

li {
    background-color: darkgray;
    color: antiquewhite;
}